<div class="modal-body variation">
    <div class="forms forms-relative" style="padding-bottom: 30px;">
        <div class="cols cols2">
            <div>
                <label class="label">Estado</label>
                <ul class="grid-list full-grid-list">
                    <li>
                        <span class="tag">INGRESANDO</span>
                    </li>
                </ul>
                <span class="date-span">Hace 5 días</span>
            </div>
            <div class="mt15">
                <label class="label">Sub-estado</label>
                <select class="select-tag">
                    <option>Pre-Aprobado</option>
                    <option>Aprobado</option>
                    <option>No Aprobado</option>
                </select>
                <span class="date-span">Hace 5 días</span>
            </div>
        </div>
    </div>
    <ul id="list-historial">
        <li>
            <figure>
                <img src=".{{iconoUrl}}/assets/images/img-cambio-status.png">
            </figure>
            <div>
                <h5>Cambio de estado a <strong>PRE-APROBADO</strong></h5>
                <p>Realizado por Mateo Patiño</p>
            </div>
            <span class="date-span">4:00 pm - 15/07/2019</span>
        </li>
        <li>
            <figure>
                <img src=".{{iconoUrl}}/assets/images/img-agregar.png">
            </figure>
            <div>
                <h5>Se agregó una <strong>REFERENCIA</strong></h5>
                <p>Se agregó la referencia MIGUEL ZABALA</p>
            </div>
            <span class="date-span">12:53 pm - 14/07/2019</span>
        </li>
        <li>
            <figure>
                <img src=".{{iconoUrl}}/assets/images/avatar.png">
            </figure>
            <div>
                <h5>Mateo Patiño</h5>
                <p>Verificar los ingresos como dependiente.</p>
            </div>
            <span class="date-span">09:00 am - 13/07/2019</span>
        </li>
    </ul>
    <form class="forms forms-relative">
        <input type="text" placeholder="Añadir un comentario">
    </form>
</div>