<!--app-menutop></app-menutop>
<section id="father-table">
    <app-sidebar></app-sidebar>
    <app-editar-cuenta class="style-content"></app-editar-cuenta>
</section-->
<relative-layout >
    <relative-content-body class="content">
        <div class="content">
            <h2 class="standard-title">Editar Cuenta</h2>
            <form class="forms forms-relative account-edit">
                <fieldset class="bundle-avatar">
                    <figure>
                        <img src="/mfc-pista/assets/images/big-avatar.png">
                    </figure>
                    <img src="/mfc-pista/assets/images/icon-upload-avatar.svg" class="upload-avatar">
                </fieldset>
                <fieldset>
                    <label class="label">Nombre</label>
                    <input type="text" placeholder="Escriba un nombre">
                </fieldset>
                <fieldset>
                    <label class="label">Teléfono</label>
                    <input type="tel" placeholder="Escriba un teléfono">
                </fieldset>
                <fieldset>
                    <label class="label">Email</label>
                    <input type="email" placeholder="Escriba un email">
                </fieldset>
                <fieldset>
                    <label class="label">Nueva contraseña</label>
                    <input type="password" placeholder="Escriba una nueva contraseña">
                </fieldset>
                <fieldset>
                    <label class="label">Repetir Nueva contraseña</label>
                    <input type="password" placeholder="Escriba nuevamente la contraseña">
                </fieldset>
                <div class="btns-account">
                    <button class="btn btn-border-gray">Cancelar</button>
                    <button class="btn btn-solid-green">Guardar</button>
                </div>
            </form>
    </div>
    </relative-content-body>
</relative-layout>        