<relative-layout >
<relative-content-body class="content">
    <h1>Bienvenido</h1>
    <div class="dashboard-items">
        <div class="item">
            <a routerLink="/fabrica/nueva-solicitud"></a>
            <h2>Nueva Solicitud</h2>
            <p>Genere nuevas solicitudes de crédito</p>
            <img src="/mfc-pista/assets/images/item1.svg" />
        </div>
        <div class="item">
            <a></a>
            <h2>Consulta Pistas</h2>
            <p>Consulte el estado de sus solicitudes</p>
            <img src="/mfc-pista/assets/images/item2.svg" />
        </div>
        <div class="item">
            <a></a>
            <h2>Simulador de Crédito</h2>
            <p>Realice simulaciones para clientes</p>
            <img src="/mfc-pista/assets/images/item3.svg" />
        </div>
        <div class="item">
            <a></a>
            <h2>Solicitudes Ingresando</h2>
            <p>Consulte el estado de sus solicitudes</p>
            <span class="number">5</span>
        </div>
        <div class="item">
            <a></a>
            <h2>Solicitudes en Revisión</h2>
            <p>Consulte el estado de sus solicitudes</p>
            <span class="number">1</span>
        </div>
        <div class="item">
            <a></a>
            <h2>Solicitudes Finalizadas</h2>
            <p>Consulte el estado de sus solicitudes</p>
            <span class="number">2</span>
        </div>
    </div>


</relative-content-body>
   
</relative-layout>
