<div class="content-breadcrumb">
    <ul class="breadcrumb">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <b>1</b>
            <a id="datos-basicos" routerLink="/fabrica/nueva-solicitud" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Datos básicos</a>
        </li>
        <li routerLinkActive="active">
            <b>2</b>
            <a id="credito" routerLink="/fabrica/nueva-solicitud/credito" routerLinkActive="active">Crédito</a>
        </li>
        <li routerLinkActive="active">
            <b>3</b>
            <a id="solicitud-credito" routerLink="/fabrica/nueva-solicitud/solicitud-credito" routerLinkActive="active">Solicitud Crédito</a>
        </li>
        <li routerLinkActive="active">
            <b>4</b>
            <a id="requisitos" routerLink="/fabrica/nueva-solicitud/requisitos" routerLinkActive="active">Requisitos</a>
        </li>
        <li routerLinkActive="active">
            <b>5</b>
            <a id="politicas" routerLink="/fabrica/nueva-solicitud/politicas" routerLinkActive="active">Políticas</a>
        </li>
        <li routerLinkActive="active">
            <b>6</b>
            <a id="generacion" routerLink="/fabrica/nueva-solicitud/generacion" routerLinkActive="active">Generación</a>
        </li>
        <li routerLinkActive="active">
            <b>7</b>
            <a id="control-calidad" routerLink="/fabrica/nueva-solicitud/control-de-calidad" routerLinkActive="active">Control Calidad</a>
        </li>
        <li>
            <b>8</b>
            <a id="resumen">Resumen</a>
        </li>
    </ul>
</div>